<% include header.html %>
<div class="uploader">
    <form class="form-inline" action="/upload" enctype="multipart/form-data" method="post">
        <fieldset>
            <input name="har" type="file" class="input-small">
            <button type="submit" class="btn">上传</button>
        </fieldset>
    </form>
</div>
<div class="uploader">
    <form class="form-inline" action="/monitor" enctype="application/x-www-form-urlencoded"
     method="get">
        <fieldset>
            <input name="url" type="text" style="width:300px"
            class="input-small" placeholder="请输入您想监控的网站地址">
            <button type="submit" class="btn">获取网页性能数据</button>
        </fieldset>
    </form>
</div>
<% include footer.html %>